body {
    background-color: lightgrey;
}

.links {
    stroke: #97d43c;
}

.line {
    stroke: #e90a0a;
}

.nodes {
    stroke: #831abc;
}

.circle {
    pointer-events: all;
    stroke: #110a0d;
    stroke-width: 40px;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}